{% extends "base.html" %}

{% block content %}

  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label ">Article</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>



  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label p-mmorpg">MMORPG</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>

  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label p-sale">Sale</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>

  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label p-tutorial">Tutorial</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>

  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label p-giveaway">Giveaway</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>

  <div class="post mt-5">
    <div class="d-flex justify-content-between post-title p1">
      <div><span class="label p-hack">Hack</span></div>
      <div class="d-flex pr-1">
        <div class="published-by pr-2 ">
          <p class="mt-1">By:
            <a class="btn btn-link  text-danger p-0 pb-1 "> Autor </a>
          </p>
        </div>
        <div class="m-1 pl-2 pr-2 border-right">
          <span class="fas fa-comments mr-2"></span>99
        </div>
        <div class="m-1 pl-2 pr-2  border-right">
          <span class="fas fa-eye mr-2"></span>99
        </div>
      </div>
    </div>
    <div class="post-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2 class="mt-2 mb-3">Lorem ipsum</h2>
  </div>

{% endblock  %}
